### systemd config
# sudo cp dev.service.sample /etc/systemd/system/dev.service
# sudo chmod 644 /etc/systemd/system/dev.service
#
# systemctl daemon-reload
# systemctl enable dev.service
# systemctl start dev
# systemctl status dev.service
# # tail the log
# journalctl -f -u dev
#
[Unit]
Description=Dev Server
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/$dir/dev
ExecStart=/$dir/bin/dev
Restart=on-failure
EnvironmentFile=/$dir/bin/env.prod

[Install]
WantedBy=multi-user.target

